<mat-toolbar color="primary">
  <span>
    <a routerLink="/postlist">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/shoplist" routerLinkActive="mat-accent">Shopping List</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/additem" routerLinkActive="mat-accent">Add Shopping</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/postlist" routerLinkActive="mat-accent">Post List</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
