<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" routerLink="/shoplist">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="userIsAuthenticated">
                <a class="nav-link" routerLink="/shoplist">Shopping List</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
                <a class="nav-link" routerLink="/additem">Add Shopping</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
                <a class="nav-link" routerLink="/postlist">Post List</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
                <a class="nav-link" routerLink="/create">New Post</a>
            </li>
            <li class="nav-item" *ngIf="!userIsAuthenticated">
                <a class="nav-link" routerLink="/">
                    <i class="fa fa-sign-in" aria-hidden="true"> </i> Login</a>
            </li>
            <li class="nav-item" *ngIf="!userIsAuthenticated">
                <a class="nav-link" routerLink="/signup">
                    <i class="fa fa-user-plus"></i> Signup</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
                <a class="nav-link" (click)="onLogout()" routerLink="/">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>