<form action="/action_page.php">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="test" class="form-control" name="itemName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="itemName">select Items</label><br>
        <label>Single
          <input type="radio" name="single" value="single">
        </label>
        <label>Double
          <input type="radio" name="single" value="double">
        </label>
      </div>
    </div>
  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
