<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading" autocomplete="off">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>    
    <mat-form-field>
      <input matInput name="fname" ngModel type="text" placeholder="First Name" #fnameInput="ngModel" required fname>
      <mat-error *ngIf="fnameInput.invalid">Please enter first name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="lname" ngModel type="text" placeholder="Last Name" #lnameInput="ngModel" required lname>
      <mat-error *ngIf="lnameInput.invalid">Please enter last name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="mobile" ngModel type="text" placeholder="Mobile No." #mobileInput="ngModel" required mobile numbersOnly minlength="10" maxlength="10">
      <mat-error *ngIf="mobileInput.invalid">Please enter mobile no.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" name="conpassword" ngModel matInput placeholder="Conform Password" #conpasswordInput="ngModel" required>
        <mat-error *ngIf="conpasswordInput.invalid">Password is not matching</mat-error>
      </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
